@import "tailwindcss";

:root {
  --primary: rgb(48, 126, 85);
  --text-primary: rgb(30, 32, 31);
  --gray-bg: rgb(235, 246, 241);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--text-primary);
  --color-light-gray: var(--gray-bg);
}

body {
  @apply text-primary-foreground bg-light-gray;
}

.loader {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
